<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_maqueta_2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
    <title>Mi pagina</title>
</head>
<body>
    <section class="main-section">
        <div class="one">
            <h1> ELEGI <br> Y <br> LLEVALO </h1>
            <div class="row1">
                <div class="cuadrado-1"></div>
                <div class="cuadrado-2"></div>
                <div class="cuadrado-3"></div>
                <div class="cuadrado-4"></div>
                <div class="cuadrado-5"></div>
                <div class="cuadrado-6"></div>
                <div class="cuadrado-7"></div>
                <div class="cuadrado-8"></div>
                <div class="cuadrado-9"></div>
                <div class="cuadrado-10"></div>
                <div class="cuadrado-11"></div>
                <div class="cuadrado-12"></div>
                <div class="cuadrado-13"></div>
                <div class="cuadrado-14"></div>
                <div class="cuadrado-15"></div>
                <div class="cuadrado-16"></div>
                <div class="cuadrado-17"></div>
                <div class="cuadrado-18"></div>
                <div class="cuadrado-19"></div>
                <div class="cuadrado-20"></div>
                <div class="cuadrado-21"></div>
                <div class="cuadrado-22"></div>
                <div class="cuadrado-23"></div>
                <div class="cuadrado-24"></div>
                <div class="cuadrado-25"></div>
                <div class="cuadrado-26"></div>
                <div class="cuadrado-27"></div>
                <div class="cuadrado-28"></div>
                <div class="cuadrado-29"></div>
                <div class="cuadrado-30"></div>
                <div class="cuadrado-31"></div>
                <div class="cuadrado-32"></div>
                <div class="cuadrado-33"></div>
                <div class="cuadrado-34"></div>
                <div class="cuadrado-35"></div>
                <div class="cuadrado-36"></div>
                <div class="cuadrado-37"></div>
                <div class="cuadrado-38"></div>
                <div class="cuadrado-39"></div>
                <div class="cuadrado-40"></div>
                <div class="cuadrado-41"></div>
                <div class="cuadrado-42"></div>
                <div class="cuadrado-43"></div>
                <div class="cuadrado-44"></div>
                <div class="cuadrado-45"></div>
                <div class="cuadrado-46"></div>
                <div class="cuadrado-47"></div>
                <div class="cuadrado-48"></div>
                <div class="cuadrado-49"></div>
                <div class="cuadrado-50"></div>
                <div class="cuadrado-51"></div>
                <div class="cuadrado-52"></div>
                <div class="cuadrado-53"></div>
                <div class="cuadrado-54"></div>
                <div class="cuadrado-55"></div>
                <div class="cuadrado-56"></div>
                <div class="cuadrado-57"></div>
                <div class="cuadrado-58"></div>
                <div class="cuadrado-59"></div>
                <div class="cuadrado-60"></div>
                <div class="cuadrado-61"></div>
                <div class="cuadrado-62"></div>
                <div class="cuadrado-62"></div>
                <div class="cuadrado-64"></div>
                <div class="cuadrado-65"></div>
                <div class="cuadrado-66"></div>
                <div class="cuadrado-67"></div>
                <div class="cuadrado-68"></div>
                <div class="cuadrado-69"></div>
                <div class="cuadrado-70"></div>
                <div class="cuadrado-71"></div>
                <div class="cuadrado-71"></div>
                <div class="cuadrado-73"></div>
                <div class="cuadrado-74"></div>
                <div class="cuadrado-75"></div>
                <div class="cuadrado-76"></div>
                <div class="cuadrado-77"></div>
                <div class="cuadrado-78"></div>
                <div class="cuadrado-79"></div>
                <div class="cuadrado-80"></div>
                <div class="cuadrado-81"></div>
                <div class="cuadrado-82"></div>
                <div class="cuadrado-83"></div>
                <div class="cuadrado-84"></div>
                <div class="cuadrado-85"></div>
                <div class="cuadrado-86"></div>
                <div class="cuadrado-87"></div>
                <div class="cuadrado-88"></div>
                <div class="cuadrado-89"></div>
                <div class="cuadrado-90"></div>
                <div class="cuadrado-91"></div>
                <div class="cuadrado-92"></div>
                <div class="cuadrado-93"></div>
                <div class="cuadrado-94"></div>
                <div class="cuadrado-95"></div>
                <div class="cuadrado-96"></div>
                <div class="cuadrado-97"></div>
                <div class="cuadrado-98"></div>
                <div class="cuadrado-99"></div>
                <div class="cuadrado-100"></div>
                <div class="cuadrado-101"></div>
                <div class="cuadrado-102"></div>
                <div class="cuadrado-103"></div>
                <div class="cuadrado-104"></div>
                <div class="cuadrado-105"></div>
            </div>
        </div>
        <div class="two">
            <button class="boton-buscar" type="button" onclick="location.href='http://127.0.0.1:5000/productos/nuevo'">BUSCAR</button>
            <div class="img-div">
                <img src="../static/img/facebook.png" alt="facebook" class="logo img-f">
                <img src="../static/img/twitter.png" alt="twitter" class="logo img-t">
                <img src="../static/img/instagram.png" alt="instagram" class="logo img-i">
                <img src="../static/img/soap.png" alt="soap bar" class="logo img-s">
            </div>
        </div>
        <div class="three">
            <h3>CONSEJOS UTILES</h3>
        </div>
        <div class="four">
            <div class="img-div">
                <img src="../static/img/youtube.png" alt="youtube" class="img-y">
            </div>
            <div class="row2">
                <div class="cuadrado1"></div>
                <div class="cuadrado2"></div>
                <div class="cuadrado3"></div>
                <div class="cuadrado4"></div>
                <div class="cuadrado5"></div>
                <div class="cuadrado6"></div>
                <div class="cuadrado7"></div>
                <div class="cuadrado8"></div>
                <div class="cuadrado9"></div>
                <div class="cuadrado10"></div>
                <div class="cuadrado11"></div>
                <div class="cuadrado12"></div>
                <div class="cuadrado13"></div>
                <div class="cuadrado14"></div>
                <div class="cuadrado15"></div>
                <div class="cuadrado16"></div>
                <div class="cuadrado17"></div>
                <div class="cuadrado18"></div>
                <div class="cuadrado19"></div>
                <div class="cuadrado20"></div>
                <div class="cuadrado21"></div>
                <div class="cuadrado22"></div>
                <div class="cuadrado23"></div>
                <div class="cuadrado24"></div>
                <div class="cuadrado25"></div>
                <div class="cuadrado26"></div>
                <div class="cuadrado27"></div>
                <div class="cuadrado28"></div>
                <div class="cuadrado29"></div>
                <div class="cuadrado30"></div>
                <div class="cuadrado31"></div>
                <div class="cuadrado32"></div>
                <div class="cuadrado33"></div>
                <div class="cuadrado34"></div>
                <div class="cuadrado35"></div>
                <div class="cuadrado36"></div>
                <div class="cuadrado37"></div>
                <div class="cuadrado38"></div>
                <div class="cuadrado39"></div>
                <div class="cuadrado40"></div>
                <div class="cuadrado41"></div>
                <div class="cuadrado42"></div>
                <div class="cuadrado43"></div>
                <div class="cuadrado44"></div>
                <div class="cuadrado45"></div>
                <div class="cuadrado46"></div>
                <div class="cuadrado47"></div>
                <div class="cuadrado48"></div>
                <div class="cuadrado49"></div>
                <div class="cuadrado50"></div>
                <div class="cuadrado51"></div>
                <div class="cuadrado52"></div>
                <div class="cuadrado53"></div>
                <div class="cuadrado54"></div>
                <div class="cuadrado55"></div>
                <div class="cuadrado56"></div>
                <div class="cuadrado57"></div>
                <div class="cuadrado58"></div>
                <div class="cuadrado59"></div>
                <div class="cuadrado60"></div>
                <div class="cuadrado61"></div>
                <div class="cuadrado62"></div>
                <div class="cuadrado62"></div>
                <div class="cuadrado64"></div>
                <div class="cuadrado65"></div>
                <div class="cuadrado66"></div>
                <div class="cuadrado67"></div>
                <div class="cuadrado68"></div>
                <div class="cuadrado69"></div>
                <div class="cuadrado70"></div>
                <div class="cuadrado71"></div>
                <div class="cuadrado71"></div>
                <div class="cuadrado73"></div>
                <div class="cuadrado74"></div>
                <div class="cuadrado75"></div>
                <div class="cuadrado76"></div>
                <div class="cuadrado77"></div>
                <div class="cuadrado78"></div>
                <div class="cuadrado79"></div>
                <div class="cuadrado80"></div>
                <div class="cuadrado81"></div>
                <div class="cuadrado82"></div>
                <div class="cuadrado83"></div>
                <div class="cuadrado84"></div>
                <div class="cuadrado85"></div>
                <div class="cuadrado86"></div>
                <div class="cuadrado87"></div>
                <div class="cuadrado88"></div>
                <div class="cuadrado89"></div>
                <div class="cuadrado90"></div>
                <div class="cuadrado91"></div>
                <div class="cuadrado92"></div>
                <div class="cuadrado93"></div>
                <div class="cuadrado94"></div>
                <div class="cuadrado95"></div>
                <div class="cuadrado96"></div>
                <div class="cuadrado97"></div>
                <div class="cuadrado98"></div>
                <div class="cuadrado99"></div>
                <div class="cuadrado100"></div>
                <div class="cuadrado101"></div>
                <div class="cuadrado102"></div>
                <div class="cuadrado103"></div>
                <div class="cuadrado104"></div>
                <div class="cuadrado105"></div> 
            </div>
        </div>
    </section>
</body>
</html>