<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <table border="1" class="dataframe"> 
        <thead>
          <tr style="text-align: center;">
            <th></th>
            <th>Producto</th>
            <th>Stock</th>
            <th>Precio unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Shampoo sólido</td>
            <td>5</td>
            <td>300</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Crema de manos</td>
            <td>6</td>
            <td>600</td>
          </tr>
        </tbody>
      </table>
</body>
</html>