<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "http://localhost:5000/productos/nuevo/" method = "post">
        <h1>Agregá tu producto</h1>
        <input name="id" type= "number" placeholder="ID producto"> 
        <input name="name" type= "text" placeholder="Tipo de producto">
        <input name="stock" type= "number" placeholder="Stock del producto">
        <input name="price" type= "number" placeholder="Precio unitario de producto">
        <button type="submit">AGREGAR</button> 
    </form> 
</body>
</html>